/**
* Default styles
*/

.selectify_selection-box_default-theme {
    background-color: rgba(138, 161, 255, 0.25);
    border-color: rgba(138, 161, 255, 0.75);
    border-width: 1px;
    border-style: dashed;
}

.selectify_selection-box_outline-theme {
    opacity: 0.5;
    border-color: #4362fe;
    border-width: 1px;
    border-style: dashed;
}

.select-active {
    border: solid 2px blue;
}
