/**
* Default styles
*/

.selectify_selection-box_default-theme {
    background-color: rgba(138, 161, 255, 0.25);
    border-color: rgba(138, 161, 255, 0.75);
    border-width: 1px;
    border-style: dashed;
}
